<html>
  <head>
    <title>SchulteTable</title>
    <style>
      .parent {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        overflow: auto;   
      }            
      .center {
        width: 400px;
        height: 70px;
        position: absolute;
        top: 50%;
        left: 50%;
        margin: -75px 0 0 -240px;
        padding: 40px;
        background: #0f7545;
        color: #fff;
        font-size: 18pt;
        font-family: 'Yeseva One', cursive;
      }
    </style>
  </head>
  <body>
    <div class="parent">
      <div class="center">
        <center>
          Воспользуйтесь приложением SchulteTable на Android :)
        </center>
      </div>
    </div>
  </body>
</html>